header, footer  {
	font-family: "tiza";
	font-weight: bold;
	background-color: #ffcc66;
}

header h1 {
	text-align:center;
	font-weight: bold;
	font-size: 40px;
}

header table {
	width: 33%;
}

header {
	padding: 10px;
	border: solid 1px;
}


footer {
	text-align: center;
	bottom:0;
	width:100%;
	height:100px;	/*height of the footer*/
	border: solid 1px;
}


@font-face {
    font-family: "tiza";
    font-style: normal;
    src: url(tiza.ttf)
}

@font-face {
	font-family: "amaranth";
	font-style: normal;
	src: url(amaranth-regular.otf)
}