
 body {
 	background-color: darkred;
 	color: ivory;
 	font-family: 'Special Elite', 'Courier New', Courier, monospace;
 	margin-top: 20px;
 	margin-bottom: 20px;
 	font-weight: 100;
 }


#titleDate {
	text-align: center;
	border-bottom: 2px solid #8B8B83;

}

#bandMembers li {
	margin-left: 80px;
}

.member {
	font-size: 12pt;
	font-style: italic;
}


#trackList {
	border-collapse: collapse;
	width: 90%; 
	margin: auto;
	font-style: italic;
}

	tbody tr:nth-child(even) {
	background-color: ivory;
}

	tbody tr:nth-child(odd) {
	background-color: black;
}

	#even {
		color: black;
	}

	#odd {
		color: ivory;
	}

#tracksHeader {
	background-color: #8B8B83;
}



#trackList td, #trackList th {
	font-size: 10pt;
	text-align: center;
	height: 15px;
	border: 2px solid #8B8B83;
	padding: 3px;
}

