
html {
    position: relative;
    min-height: 100%;
}

body {
	background-color: #CCD1D1;

}
.pageWrapper {
  margin-bottom:80px; /* Height of footer*/
} 

#header {
	font-family: "SciFly-Sans";
	font-size: 18pt;
	border-radius: 15px;
	border: solid 2px black;
	margin-top: 10px;
	padding: 10px;
	background-color: #A3E4D7;
}

#footer {
	border: solid 2px black;
	border-radius: 15px;
	height: 80px;
	margin-bottom:10px;
	padding-top: 10px;
	background-color: #A3E4D7;
	font-family: "SciFly-Sans";
	font-size: 12pt;
}

@font-face {
	font-family: "RBNo2";
	font-style: bold;
	src: url(RBno2Light.otf)
}

@font-face {
font-family: "SciFly-Sans";
font-style: bold;
src: url(SciFly-Sans.ttf)
}