header, footer  {
	font-family: "Copperplate Gothic Light", fantasy, sans-serif;
	background-color: #ffcc66;
}

header h1 {
	text-align:center;
}

header table {
	width: 33%;
}

header {
	padding: 10px;
	border: solid 1px;
}


footer {
	text-align: center;
	bottom:0;
	width:100%;
	height:100px;	/*height of the footer*/
	border: solid 1px;
}