
 body {
 	background-color: darkred;
 	color: white;
 }

.member {
	font-family: "Courier New", Courier, monospace;
	font-size: 15pt
}

#tracklist {
	font-family: "Courier New", Courier, monospace;
	font-size: 10pt
}

#titledate {
	font-family: "Courier New", Courier, monospace;
}