
 body {
 	background-color: ivory;
 	color: #2E2E2E;
 	font-family: 'Special Elite', 'Courier New', Courier, monospace;
 	margin-top: 20px;
 	margin-bottom: 20px;
 	font-weight: 100;
 }

	a {
	text-decoration: none;
	color: #2E2E2E;
}

	a:hover {
	text-decoration: underline;
	color: darkred;
}

#titleDate {
	text-align: center;
	border-bottom: 2px solid #8B8B83;

}

#bandMembers li {
	margin-left: 80px;
}

.member {
	font-size: 14pt;
	font-style: italic;
}


#trackList {
	border-collapse: collapse;
	width: 90%; 
	margin: auto;
	font-style: italic;
}

	tbody tr:nth-child(even) {
	background-color: #2E2E2E;
}

	tbody tr:nth-child(odd) {
	background-color: ivory;
}

	.even {
		color: ivory;
	}

	.odd {
		color: #2E2E2E;
	}

#tracksHeader {
	background-color: darkred;
	color: ivory;
}



#trackList td, #trackList th {
	font-size: 10pt;
	text-align: center;
	height: 15px;
	border: 2px solid darkred;
	padding: 3px;
}

