header, footer  {
	background-color: #ffcc66;
}

header h1 {
	text-align:center;
	font-family: "tiza";
	font-size: 40px;
}

header table {
	width: 33%;
	font-family: "amaranth";
}

header {
	padding: 10px;
	border: solid 1px;
}


footer {
	font-family: "tiza";
	text-align: center;
	bottom:0;
	width:100%;
	height:100px;	/*height of the footer*/
	border: solid 1px;
}

 a {
	text-decoration: none;
	color: black;
	}

a:hover {
	font-weight: bold;
	}	

a:visited {
	color: blue;
}

a:link {
	color: black;
}

@font-face {
    font-family: "tiza";
    font-style: normal;
    src: url(tiza.ttf)
}

@font-face {
	font-family: "amaranth";
	font-style: normal;
	src: url(amaranth-regular.otf)
}